.button
    background-color: $mainColor
    display: inline-block
    padding: 10px 40px
    color: #ffffff
    font-size: 16px
    border: none
    text-decoration: none
    cursor: pointer
    margin-right: 20px
    +anim(box-shadow)

    &:last-child
        margin-right: 0

    &:hover
        +shadow()

    &:active
        +inner-shadow()

    &_warning
        background-color: $warningColor